<!DOCTYPE html>
{% extends "base.html" %} {% block title %}Sign Up{% endblock %} {% block
    content %}
    <html lang="en">
      <head>
        <meta charset="UTF-8">
        <title>Sign Up</title>
      </head>
      <body>
      <form method="POST">
        <h3 style="text-align:center">Sign Up</h3>
        <p style="text-align:left"> As this website is specific to people who are 
        willing to understand the real situation of the people suffering from hunger.</p>
        <!-- Like the login page this is layed out in iterable boxes -->
        <div class="form-group">
          <label for="email">Email Address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter email"
          />
        </div>
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            name="firstName"
            placeholder="Enter first name"
          />
        </div>
        <div class="form-group">
          <label for="password1">Password</label>
          <input
            type="password"
            class="form-control"
            id="password1"
            name="password1"
            placeholder="Enter password"
          />
        </div>
        <div class="form-group">
          <label for="password2">Password (Confirm)</label>
          <input
            type="password"
            class="form-control"
            id="password2"
            name="password2"
            placeholder="Confirm password"
          />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      <style>
        .footer {
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          background-color: black;
          color: white;
          text-align: center;
        }
        </style>
        
        <div class="footer">
          <p>@ltd 2022</p>
          </div>
      </body>
    </html>
    {% endblock %}
