<!DOCTYPE html>
<!-- THIS FOLLOWS BASE.HTMLS LAYOUT-->
{%extends "base.html" %}{% block title %} Support {% endblock 
    %}

{% block content %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>About</title>
  </head>
  <body>
  <h1 style="text-align:left;">Support Page</h1>
<h4 style="text-align:left;">This page shows other organisations websites
  you can visit which also work for the same cause. The sites are listed below.</h4>
  <!-- Row Of Images -->
  <div class="row">
    <div class="row">
      <h2>The United Nations (UN)</h2>
      <a href="https://www.un.org/">
      <img src="static/supportv1.jpg" alt="UN" style="width:30%">
      </a>
    </div>
    <div class="row">
      <h2>World Food Program</h2>
      <a href="https://www.wfp.org/">
      <img src="static/supportv2.jpg" alt="WFP" style="width:29%">
      </a>
    </div>
    <div class="row">
      <h2>CARE</h2>
      <a href="https://www.care.org/">
      <img src="static/care.jpg" alt="CARE" style="width:30%">
      </a>
    </div>
  </div>
<style>
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 20px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display:flexbox;
}

.footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: black;
      color: white;
      text-align: center;
    }
</style>
<!-- Footer -->
    <div class="footer">
      <p>@ltd 2022</p>
    </div>
  </body>
</html>
{% endblock %}
