<!DOCTYPE html>
{%extends "base.html" %}{% block title %} Support {% endblock 
    %}

{% block content %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>About</title>
  </head>
  <body>
  <h1 style="text-align:left;">Support Page</h1>
<h4 style="text-align:left;">This page shows other organisations websites
  you can visit which also work for the same cause. The sites are listed below.</h4>
  <!-- Row Of Images -->
  <div class="row">
    <div class="column">
      <img src="org1.jpg" alt="support1" style="width:100%">
    </div>
    <div class="column">
      <img src="org2.jpg" alt="support2" style="width:100%">
    </div>
    <div class="column">
      <img src="org3.jpg" alt="support3" style="width:100%">
    </div>
  </div>
<style>
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: black;
      color: white;
      text-align: center;
    }
</style>
    <div class="footer">
      <p>@ltd 2022</p>
    </div>
  </body>
</html>
{% endblock %}
