{%extends "base.html" %}{% block title %} Support {% endblock 
    %}

{% block content %}
<h1 style="text-align:left;">Support Page</h1>
<p style="text-align:left;">The numbers paint a grim picture:

  As many as 828 million people were affected by hunger in 2021, 46 million people more from a year earlier and 150 million more from 2019.
  After remaining relatively unchanged since 2015, the proportion of people affected by hunger jumped in 2020 and continued to rise in 2021, to 9.8% of the world population. This compares with 8% in 2019 and 9.3% in 2020.
  Around 2.3 billion people in the world (29.3%) were moderately or severely food insecure in 2021 – 350 million more compared to before the outbreak of the COVID‑19 pandemic. Nearly 924 million people (11.7% of the global population) faced food insecurity at severe levels, an increase of 207 million in two years.
  The gender gap in food insecurity continued to rise in 2021.</p>
<style>
    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: black;
      color: white;
      text-align: center;
    }
    </style>
    
    <div class="footer">
      <p> Global Hunger Support @ltd 2022</p>
    </div>
{% endblock %}